@font-face {     font-family: ST-SimpleSquare; src: url('./fonts/ST-SimpleSquare.otf');} 
@font-face {     font-family: Gilroy; src: url('./fonts/Gilroy-SemiBold.woff');} 
@font-face {     font-family: Gilroy-light; src: url('./fonts/Gilroy-Light.otf');} 
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    font-family: Arial, sans-serif;
}

.layout-container {
    height: 100%;
    padding-top: 40px;
}

.header {
    box-sizing: border-box;
    width: 1160px;
    height: 70px;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px 7px 30px #000000;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 3;

filter: drop-shadow(0px 4px 8px #000000);
}

.header {
    top: -15px;
}

.responsive-header {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -160px;
    gap: 30px;
    width: 500px;
    height: 14px;
}

.menu-item {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.menu-item-active {

font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;


background: linear-gradient(105.82deg, #08466B -43.96%, #37779D -5.6%, #71BDEB 43.21%, #37779D 109.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(0px 0px 8.2px #000000);
}

.currency-lang-nav {
    right: 0;
    gap: 30px;
    display: flex;
    cursor: pointer;
}

.currency-change-window {
margin-top: 6px;
position: absolute;
border: 2px solid #FFFFFF;
box-shadow: inset 3px -2px 1.9px rgba(6, 3, 3, 0.5);
border-radius: 10px;
background: rgba(29, 29, 29, 0.36);
box-shadow: inset -3px -4px 2px rgba(0, 0, 0, 0.4), inset 3px 2px 1px rgba(255, 255, 255, 0.3);
backdrop-filter: blur(1.5px);
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}

.dollar, .euro, .ruble {
    display: flex;
    align-items: center;
text-align: center;
position: relative;
width: 89px;
height: 30px;
background: rgba(0, 0, 0, 0.1);
border-bottom: 0.5px solid #C5C5C5;
border-radius: 8px 8px 0px 0px;
}

.dollar svg, .euro svg {
    margin-right: 4px;
    margin-left: 5px;
}

.ruble svg {
    max-height: 14px;
    max-weight: 14px;
    margin-right: 2px;
    margin-left: 2px;
}

.hide {
    display: none;
}

.hidden-text {
    opacity: 0;
    transform: translateX(80px);
}

.end-block {
    display: flex;
    align-items: center;
}

.login {
    margin-left: 30px;
    margin-right: 20px;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 890px;
    background: linear-gradient(270deg, rgba(123, 123, 123, 0.2) 0%, rgba(174, 174, 174, 0.2) 50%, rgba(123, 123, 123, 0.2) 100%);
    box-shadow: -11px 0px 40px #000000, 11px 0px 40px #000000;
    border-radius: 10px;
    position: relative;
}

.middle {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.balance {
font-family: 'ST-SimpleSquare';
height: 34px;
font-style: normal;
font-weight: 400;
font-size: 48px;
background: linear-gradient(99.15deg, #424242 12.11%, #B1B1B1 28.41%, #E8E8E8 55%, #A4A4A4 77.3%, #424242 97.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
text-shadow: 1px 1px 2px rgba(241, 241, 241, 0.46), -11px 10px 15px rgba(0, 0, 0, 0.9);
}

.payment-navigation {
    display: flex;
    justify-content: space-between;
    width: 680px;
    height: 50px;
    margin-top: 42px;
font-family: "Mulish";
font-weight: 700;
font-size: 20px;
gap: 30px;
color: #FFFFFF;
white-space: nowrap;
}

.payment-navigation-btn,
.payment-navigation-btn-active {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.payment-navigation-btn-active {
    /* Styles for the active button */
    text-decoration: underline;
}
.word-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.word, .word-clone {
    display: block;
}
.word-clone {
    position: absolute;
    top: 100%;
    left: 0;
}
.letter {
    display: inline-block;
    transition: transform 0.3s ease;
}
.payment-navigation-btn:hover .letter {
    transform: translateY(-100%);
}
.payment-navigation-btn:hover .word-clone .letter {
    transform: translateY(-100%);
}
/* Prevent animation for active button */
.payment-navigation-btn-active:hover .letter,
.payment-navigation-btn-active:hover .word-clone .letter {
    transform: none;
}
.payment-navigation-btn-active {
    background: linear-gradient(106.42deg, #08466B 5.81%, #37779D 23.99%, #71BDEB 47.13%, #37779D 78.54%, #08466B 101.51%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(0px 0px 8.2px #000000);
font-weight: 800;
font-size: 22px;
line-height: 120%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}

.typing-block {
    display: flex;
    align-items: center;
    white-space: nowrap;
font-family: 'ST-SimpleSquare';
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
margin-top: 40px;
}


.typing-block-2 {
    padding-left: 10px;
    width: 300px;
    color: #2882B8;
line-height: 23px;
leading-trim: both;
text-edge: cap;
letter-spacing: 1px;
position: relative;
  display: inline-block;
}

#cursor {
    color: #2882B8;
    line-height: 23px;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: 1px;
  }

.price-slider-block {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
}

.price-top, .price-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy';
    font-size: 20px;
    padding-left: 10px;
}

.price-bottom {
    padding-left: 0px;
}

.price-top {
    width: 100%;
}

.price-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.price-counter, .price-counter-percent {
    line-height: 120%;
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: -2px 4px 8.2px #000000, -11px 10px 15px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

body > div.layout-container > div > div.middle > div.price-slider-block > div.price-top > p:nth-child(2) {
    margin-left: -46px;
}

.microphone > p:nth-child(1) {
    margin-top: -28px;
}

.microphone > p:nth-child(3) {
    margin-top: 87px;
}


.price-counter-active {
    margin-left: -10px;
    font-family: 'Gilroy';
    font-size: 20px;
    position: absolute;
leading-trim: both;
text-edge: cap;
background: linear-gradient(120.84deg, #08466B 7.12%, #37779D 19.42%, #71BDEB 35.07%, #37779D 56.31%, #08466B 71.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 1));
}



.price-middle {
    padding-top: 4px;
}

.slider {
    position: absolute;
}

.slider850, .slider612, .slider460, .slider460r {
    display: none;
}

.price-slider {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
font-family: 'Gilroy-light';
font-size: semibold;
line-height: 18px;
color: #AFAFAF;
    margin-top: 22px;
    width: 1160px;
    height: 34px;
filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.4)) drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.4));
border-radius: 5px;
}

.price-slider p {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 15px;
background: linear-gradient(102.39deg, #727272 2.18%, #B1B1B1 20.2%, #E8E8E8 49.6%, #A4A4A4 74.26%, #424242 97.02%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}

.microphone {
    display: flex;
    flex-direction: column;
    align-items: center;
width: 58px;
height: 90px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin-left: -16px;
}


.microphone img {
    width: 58px;
    height: 90px;
}

.microphone-glow {
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    pointer-events: none;
    z-index: 1;
}

.microphone-glow::after {
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 1);
    content: " ";
    height: 0px;
    position: absolute;
    top: 0;
    width: 20px;
  }

  
.calculator-box {
    margin-top: 40px;
    height: 175px;
    width: 360px;
}

.calculator-bg {
    position: absolute;
}

.calculator-bg-mobile {
    display: none;
}

.arrows-bg-mobile {
    display: none;
}

.change-price-box {
    display: flex;
    width: 360px;
    max-height: 55px;
    justify-content: space-between;
    gap: 10px;
    padding-top: 6px;
}



.calculator-mobile-bg {
    display: none
  }

.mobile-arrows-left, .mobile-arrows-right {
    display: none;
}

.full-arrows-right, .full-arrows-left {
    position: absolute;
    width: 140px;
    height: 70px;
    opacity: 0;
  }

  .full-arrows-right.showing, .full-arrows-left.showing {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .full-arrows-right.show, .full-arrows-left.show {
    opacity: 1;
  }
  
  .arrows-container {
    display: flex;
  }
  
  .full-arrows-right {
    margin-left: 335px;
  }
  
  .full-arrows-left {
    margin-left: -120px;
  }
  
  .change-price-left, .change-price-right {
    width: 70px;
    height: 70px;
    display: grid;
    overflow: hidden;
    position: relative;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 210px;
    height: auto;
    max-width: none;
    object-fit: cover;
    object-position: center;
  }

  .change-price-right > .image-container img {
    transform: translateX(36%);
    margin-left: -4px;
  }

  .double-right > .image-container img {
    transform: translateX(10%);
  }

  .triple-right > .image-container img {
    transform: translateX(-30%);
  }

  .change-price-left > .image-container img {
    transform: translateX(-47%);
  }

  .double-left > .image-container img {
    transform: translateX(-12%);
  }

  .triple-left > .image-container img {
    transform: translateX(30%);
  }
  
  .double-right .image-container, .double-left .image-container {
    margin-left: -6px;
  }

  .triple-right .image-container, .triple-left .image-container {
    margin-left: -12px;
  }
  .double-right, .triple-right, .double-left, .triple-left {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .full-arrows-right.show .double-right,
  .full-arrows-right.show .triple-right,
  .full-arrows-left.show .double-left,
  .full-arrows-left.show .triple-left {
    opacity: 1;
  }
  
  .full-arrows-right.show .double-right { transition-delay: 0.1s; }
  .full-arrows-right.show .triple-right { transition-delay: 0.2s; }
  .full-arrows-left.show .triple-left { transition-delay: 0.2s; }
  .full-arrows-left.show .double-left { transition-delay: 0.1s; }

  .double-right, .triple-right, .double-left, .triple-left {
    width: 70px;
    height: 70px;
  }

.calculator-value {
    display: flex;
    align-items: center;
}

.calculator-value-numb {
    font-size: 20px;
font-family: 'Gilroy';
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(-2px 4px 8.2px #000000), drop-shadow(-11px 0px 40px 0px rgba(0, 0, 0, 1));
background: linear-gradient(102.39deg, #727272 2.18%, #B1B1B1 20.2%, #E8E8E8 49.6%, #A4A4A4 74.26%, #424242 97.02%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

input[type=number] {
    margin-top: 2px;

}

.price-display-box {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
backdrop-filter: blur(1.2px);
}

.price-display-box h3 {
    padding-top: 20px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.price-display-box h1 {
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 30px;

color: #FFFFFF;
}

.currency-display {
    position: absolute;
    right: -40px;
    top: 70px;
}

.buy-button {
    position: absolute;
    width: 384px;
    height: 54px;
    background: none;
    border: none;
    padding: 0;
    bottom: -18px;
    cursor: pointer;
  }
  
  .buy-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 130%;
    object-fit: contain;
    transition: opacity 0.01s ease;
  }
  
  /* Show the default image and hide the hover image */
  .buy-button img:first-child {
    opacity: 1;
  }
  
  .buy-button img:last-child {
    opacity: 0;
  }
  
  /* On hover, hide the default image and show the hover image */
  .buy-button:hover img:first-child {
    opacity: 0;
  }
  
  .buy-button:hover img:last-child {
    opacity: 1;
  }

.registration {
    padding-right: 50px;
    padding-top: 8px;
}

.modal {
    display: block;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.4);
}
.modal-content {
width: 440px;
height: 420px;
filter: drop-shadow(0px 0px 29.3333px #000000);
border-radius: 7.33333px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 8px;
    border: 1px solid #888;
background: linear-gradient(314.82deg, rgba(179, 179, 179, 0.85) 9.73%, rgba(220, 220, 220, 0.85) 50%, rgba(178, 178, 178, 0.85) 90.27%);
font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 140%;
leading-trim: both;
text-edge: cap;
text-align: center;

color: black;
}

.modal-top, .modal-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.modal-top p {
    padding: 6px;
}

.modal-center img {
    position: absolute;
   z-index: 1;
}

.modal-center p, .modal-center button {
   z-index: 2;
}
.modal-center {
    padding-top: 30px;
}

.modal-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 120%;
text-decoration-line: underline;
color: #900F37;
}

.modal-lines {
    display: none;
}

.modal-line {
    padding-left: 10px;
    padding-right: 10px;
}

.modal-bottom {
    padding-top: 40px;
    font-weight: 700;
}

.modal-present {
    padding-top: 4px;
    padding-bottom: 20px;
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 120%;
-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #37779D;
}

.close {
    float: right;
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

#cursor {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 26px;
}

.progress-container {
    width: 1154px;
    height: 100px;
    margin-top: 100px;
    position: relative;
}
.progress-bottom, .progress-top {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.progress-top  {
    margin-bottom: -80px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
background: linear-gradient(180deg, #B1B1B1 1.62%, #FDFDFD 33.96%, #A4A4A4 83.55%, #5F5F5F 109.42%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.progress-bottom {
margin-top: 10px;
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;

background: linear-gradient(180deg, #B1B1B1 12.11%, #E8E8E8 29.27%, #A4A4A4 55.43%, #5F5F5F 97.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.progress-bottom p b {
    font-size: 33.63px;
}
.progress-bar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid rgba(55, 119, 157, 1);
}
.progress-fill {
    position: absolute;
    bottom: 0;
    left: 0;
}
.progress-value {
    position: absolute;
    bottom: 14px;
    right: 480px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 110%;

background: linear-gradient(120.84deg, #08466B 7.12%, #37779D 19.42%, #71BDEB 35.07%, #37779D 56.31%, #08466B 71.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 1));
}


.punch-out {
    animation: punchOut 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
    transform-origin: center;
}

@keyframes punchOut {
    0% { 
        transform: translateX(0) rotate(0deg) scale(1); 
        opacity: 1;
        filter: blur(0);
    }
    20% { 
        transform: translateX(-10px) rotate(-5deg) scale(1.1);
    }
    40% { 
        transform: translateX(40px) rotate(15deg) scale(0.9);
    }
    70% { 
        transform: translateX(100px) rotate(25deg) scale(0.8); 
        opacity: 0.5;
        filter: blur(2px);
    }
    100% { 
        transform: translateX(150px) rotate(40deg) scale(0.6); 
        opacity: 0;
        filter: blur(5px);
    }
}

@keyframes settleBack {
    0% { transform: translateX(50px) rotate(10deg); opacity: 0; }
    50% { transform: translateX(-5px) rotate(-2deg); opacity: 0.7; }
    75% { transform: translateX(5px) rotate(1deg); opacity: 0.9; }
    100% { transform: translateX(0) rotate(0deg); opacity: 1; }
}



.settle-back {
    animation: settleBack 0.4s ease-out forwards;
}

.active {
    opacity: 0;
}

body > div.layout-container > div > div.middle > div.calculator-box > div.calculator-bg > img:nth-child(1) {
    max-width: 360px;
    max-height: 170px;
}