@font-face {     font-family: ST-SimpleSquare; src: url('./fonts/ST-SimpleSquare.otf');} 
@font-face {     font-family: Gilroy; src: url('./fonts/Gilroy-SemiBold.woff');} 
@font-face {     font-family: Gilroy-light; src: url('./fonts/Gilroy-Light.otf');} 
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    font-family: Arial, sans-serif;
}

.layout-container {
    height: 100%;
    padding-top: 40px;
}

.header {
    box-sizing: border-box;
    width: 1160px;
    height: 70px;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px 7px 30px #000000;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    z-index: 3;

filter: drop-shadow(0px 4px 8px #000000);
}

.header {
    top: -15px;
}

.responsive-header {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -280px;
    gap: 30px;
    width: 500px;
    height: 14px;
}

.menu-item {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #191919;
    transition: color 0.2s ease, filter 0.05s ease, background-image 0.6s ease;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)) contrast(1);
}

.menu-item:hover {
    color: transparent;
    background-image: linear-gradient(20.82deg, #08466B -43.96%, #37779D -5.6%, #71BDEB 43.21%, #37779D 109.46%, #08466B 157.91%);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.9)) contrast(1.45);
}

.menu-item-active {
    transition: 1s;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
background: linear-gradient(20.82deg, #08466B -43.96%, #37779D -5.6%, #71BDEB 43.21%, #37779D 109.46%, #08466B 157.91%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.9)) contrast(1.45);
}

.currency-lang-nav {
    right: 0;
    margin-top: 4px;
    gap: 30px;
    display: flex;
    cursor: pointer;
}

.currency-change-window {
margin-top: 6px;
position: absolute;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
color: #FFFFFF;

box-sizing: border-box;
background: rgba(29, 29, 29, 0.36);
border: 1px solid #999898;
box-shadow: 0px 0px 49.8876px #000000;
border-radius:  8px;
transition: opacity 0.3s ease-in-out;
opacity: 0;
pointer-events: none;
}
  .currency-change-window:not(.hide) {
    opacity: 1;
    pointer-events: auto;
  }
  
  .dollar, .euro, .ruble {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    width: 89px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .dollar svg, .euro svg {
    margin-right: 4px;
    margin-left: 5px;
  }
  
  .ruble svg {
    max-height: 14px;
    max-width: 14px;
    margin-right: 2px;
    margin-left: 6px;
  }
  
  .currency-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
  
  .currency-change-window.animate .currency-text span {
    opacity: 1;
    transform: translateY(0);
  }
  
  .currency-change-window.animate .currency-text span:nth-child(1) { transition-delay: 0.1s; }
  .currency-change-window.animate .currency-text span:nth-child(2) { transition-delay: 0.2s; }
  .currency-change-window.animate .currency-text span:nth-child(3) { transition-delay: 0.3s; }
  .currency-change-window.animate .currency-text span:nth-child(4) { transition-delay: 0.4s; }
  .currency-change-window.animate .currency-text span:nth-child(5) { transition-delay: 0.5s; }
  .currency-change-window.animate .currency-text span:nth-child(6) { transition-delay: 0.6s; }

.hide {
    display: none;
}

.hidden-text {
    opacity: 0;
    transform: translateX(80px);
}

.end-block {
    display: flex;
    align-items: center;
}

.login {
    margin-left: 30px;
    margin-right: 20px;
    font-family: 'ST-SimpleSquare';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 80%;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(93.44deg, #AB1443 -6.46%, #A21440 27.99%, #EE2A67 38.14%, #A21440 58.84%, #900F37 98.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 0px 8.2px #000000) contrast(1.05);
    position: relative;
    overflow: hidden;
}

.login::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -100%;
    width: 50%;
    height: 200%;
    background: linear-gradient(
        to right,
        transparent 0%,
        rgba(143, 143, 143, 0.5) 50%,
        transparent 100%
    );
    transform: rotate(25deg);
    transition: left 1s ease-out;
    pointer-events: none;
}

.login:hover::before {
    left: 200%;
    transition: left 1s ease-in;
}

.main-block {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 770px;
    width: 1160px;
    background: linear-gradient(270deg, rgba(123, 123, 123, 0.2) 0%, rgba(174, 174, 174, 0.2) 50%, rgba(123, 123, 123, 0.2) 100%);
    box-shadow: -11px 0px 40px #000000, 11px 0px 40px #000000;
    border-radius: 10px;
    position: relative;
}

.middle {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.balance {
    margin-top: -50px;
font-family: 'ST-SimpleSquare';
height: 34px;
font-style: normal;
font-weight: 400;
font-size: 48px;
background: linear-gradient(99.15deg, #424242 12.11%, #B1B1B1 28.41%, #E8E8E8 55%, #A4A4A4 77.3%, #424242 97.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
text-shadow: 1px 1px 2px rgba(241, 241, 241, 0.46), -11px 10px 15px rgba(0, 0, 0, 0.9);
}

.payment-navigation {
    display: flex;
    justify-content: space-between;
    width: 640px;
    height: 50px;
    margin-top: 42px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.payment-navigation-btn,
.payment-navigation-btn-active {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.payment-navigation-btn-active {
    /* Styles for the active button */
    text-decoration: underline;
}
.word-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.word, .word-clone {
    display: block;
}
.word-clone {
    position: absolute;
    top: 0;
    left: 0;
}
.letter {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: linear-gradient(248.64deg, rgba(105, 105, 105, 0.8) 6.23%, rgba(255, 255, 255, 0.8) 50%, rgba(105, 105, 105, 0.8) 93.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    filter: contrast(1.25);
}

.payment-navigation-btn:hover .word .letter {
    opacity: 0;
}

.payment-navigation-btn .word-clone .letter {
    transform: translateY(100%);
    opacity: 0;
}

.payment-navigation-btn:hover .word-clone .letter {
    transform: translateY(0);
    opacity: 1;
}

.payment-navigation-btn-active:hover .letter,
.payment-navigation-btn-active:hover .word-clone .letter {
    transform: none;
    opacity: 1;
}
.payment-navigation-btn-active {
    background: linear-gradient(106.42deg, #08466B 5.81%, #37779D 23.99%, #71BDEB 47.13%, #37779D 78.54%, #08466B 101.51%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(0px 0px 8.2px #000000) contrast(1.25);
font-weight: 800;
font-size: 22px;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
margin-top: -8px;
}

.typing-block {
    display: flex;
    align-items: center;
    white-space: nowrap;

margin-right: -160px;
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 14px;
leading-trim: both;
text-edge: cap;
color: #111111;
margin-top: 72px;
}

.typing-block-1 {

    padding-right: 10px;
}


.typing-block-2 {
margin-top: -2px;
    width: 380px;
leading-trim: both;
text-edge: cap;
letter-spacing: 1px;
position: relative;
  display: inline-block;

  background: linear-gradient(97.78deg, rgba(255, 255, 255, 0.2) 5.43%, #CCCCCC 50%, rgba(255, 255, 255, 0.2) 94.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
}

#cursor {
    height: 40px;
    letter-spacing: 1px;
  }

.price-slider-block {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}

.price-top, .price-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy';
    font-size: 20px;
}

.price-bottom {
    padding-left: 0px;
}

.price-bottom p {
    width: 50px;
}

.price-top p {
    width: 50px;
}

.price-top > p:nth-child(4) {
    margin-right: -40px
}

.price-top > p:nth-child(3) {
    margin-right: -6px
}

.price-top > p:nth-child(3) {
    margin-right: 6px
}

.price-bottom > p:nth-child(2) {
    margin-left: -50px
}
.price-bottom > p:nth-child(3) {
    margin-left: -3px
}
.price-bottom > p:nth-child(4) {
    margin-right: -44px
}


.price-top {
    width: 100%;
    margin-bottom: 10px;
}

.price-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    width: 100%;
}

.price-counter, .price-counter-percent {
    line-height: 120%;
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: -2px 4px 8.2px #000000, -11px 10px 15px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

body > div.layout-container > div > div.middle > div.price-slider-block > div.price-top > p:nth-child(2) {
    margin-left: -46px;
}

.microphone > p:nth-child(1) {
    margin-top: -24px;
}

.microphone > p:nth-child(3) {
    margin-top: 78px;
}


.price-counter-active {
    font-family: 'Gilroy';
    font-size: 20px;
    position: absolute;
leading-trim: both;
text-edge: cap;
background: linear-gradient(120.84deg, #08466B 7.12%, #37779D 19.42%, #71BDEB 35.07%, #37779D 56.31%, #08466B 71.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 1)) contrast(1.55);
}



.price-middle {
   margin-top: -10px
}

.slider {
    position: absolute;
    min-width: 1190px;
    margin-left: -35px;
}

.slider850, .slider612, .slider460, .slider460r {
    display: none;
}

.price-slider {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
font-family: 'Gilroy-light';
font-size: semibold;
line-height: 18px;
color: #AFAFAF;
    margin-top: 22px;
    width: 1120px;
    height: 34px;
filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.4)) drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.4));
}

.price-slider p {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 15px;
background: linear-gradient(102.39deg, #727272 2.18%, #B1B1B1 20.2%, #E8E8E8 49.6%, #A4A4A4 74.26%, #424242 97.02%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}

.microphone {
    display: flex;
    flex-direction: column;
    align-items: center;
max-width: 56px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin-left: -1.5px;
}


.microphone img {
    min-width: 130%;
}

.calculator-box {
    margin-top: 20px;
    height: 210px;
    width: 360px;
}

.calculator-bg {
    margin-top: 70px;
    position: absolute;
   z-index: 1;
   backdrop-filter: blur(2.2px);
}

.calculator-bg-mobile {
    display: none;
}

.arrows-bg-mobile {
    display: none;
}

.change-price-box {
    display: flex;
    width: 360px;
    max-height: 54px;
    padding-top: 24px;
    justify-content: space-between;
    gap: 10px;
}



.calculator-mobile-bg {
    display: none
  }

.mobile-arrows-left, .mobile-arrows-right {
    display: none;
}

.change-price-right {
    margin-right: 1px;
}

.full-arrows-left, .full-arrows-right {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.full-arrows-left.show, .full-arrows-right.show {
    opacity: 1;
    visibility: visible;
}

.full-arrows-left .arrows-container, .full-arrows-right .arrows-container {
    display: flex;
}

.double-right, .triple-right, .double-left, .triple-left {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.full-arrows-right.show .double-right,
.full-arrows-right.show .triple-right,
.full-arrows-left.show .double-left,
.full-arrows-left.show .triple-left {
    opacity: 1;
    visibility: visible;
}

.full-arrows-right.show .double-right { transition-delay: 0.1s; }
.full-arrows-right.show .triple-right { transition-delay: 0.2s; }
.full-arrows-left.show .triple-left { transition-delay: 0.2s; }
.full-arrows-left.show .double-left { transition-delay: 0.1s; }

  .arrows-container {
    display: flex;
  }
  
  .full-arrows-right {
    margin-left: 360px;
  }
  
  .full-arrows-left {
    margin-left: -80px;
  }
  
  .change-price-left, .change-price-right {
    width: 48px;
    height: 36px;
    display: grid;
    overflow: hidden;
    position: relative;

  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    height: 100%;
    max-width: 100%;
    position: absolute
  }

.calculator-value {
    display: flex;
    align-items: center;
    font-weight: 600;
font-size: 20px;
font-family: 'Gilroy';
font-style: normal;
color: #B1B1B1;
filter: drop-shadow(-2px 4px 8.2px #000000), drop-shadow(-11px 0px 40px 0px rgba(0, 0, 0, 1)) contrast(1.55);
}

.calculator-value-numb {
    width: 106px;
    height: 34px;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 5.43%, #CCCCCC 50%, rgba(255, 255, 255, 0.2) 94.57%) 1;
    border-width: 1px;
    border-style: solid;
    text-shadow: -4px 4px 8.2px #000000;
    text-align: center; /* Change to right alignment for better number formatting */
    padding: 4px 8px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
background: #1F1F1F;
}

.calculator-value input:focus {
border-width: 1px;
border-style: solid;
    border-image: linear-gradient(to right, #08466B -43.96%, #37779D -5.6%, #71BDEB 43.21%, #37779D 109.46%, #08466B 157.91%) 1;
}

.calculator-value div {
background: linear-gradient(22.39deg, #727272 2.18%, #B1B1B1 20.2%, #E8E8E8 49.6%, #A4A4A4 74.26%, #424242 97.02%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
    margin-left: 6px;
    filter: drop-shadow(-11px 10px 15px rgba(0, 0, 0, 1)), contrast(2);

text-shadow: -2px 4px 8.2px #000000;

}

input[type=number] {
    margin-top: 2px;

}

.price-display-box {
    z-index: 2;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;

}

.price-display-box h3 {
    padding-top: 34px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 20px;
text-align: center;
z-index: 1;
color: rgba(96, 165, 206, 0.6);
}

.price-display-box h1 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    z-index: 1;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    color: #60A5CE;
}

.currency-display {
position: absolute;
margin-left: 334px;
margin-top: -120px;
z-index: 0
}

.currency-display img {
    min-width: 64px;
    max-height: 76px;
    z-index: 0
}

/* Updated styles for the buy button */
.buy-button {
    z-index: 1;
    position: absolute;
    width: 300px;
    height: 70px;
    background: none;
    border: none;
    padding: 0;
    margin-top: 148px;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in;
backdrop-filter: blur(1.2px);

}

.buy-button img {
    position: absolute;
    top: -6px;
    left: 0;
    width: 130%;
    height:130%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.buy-button::after {
    content: "";
    position: absolute;
    width: 283px;
    height: 0;
    bottom: 8px;
    left: 9px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
    z-index: 1;
    pointer-events: none;
border-radius: 5px;
}

.buy-button:hover::after {
    height: 65%;
}
.registration {
    padding-right: 50px;
    padding-top: 8px;
}

.modal {
    display: block;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.4);
}
.modal-content {
width: 440px;
height: 420px;
filter: drop-shadow(0px 0px 29.3333px #000000);
border-radius: 7.33333px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 8px;
    border: 1px solid #888;
background: linear-gradient(314.82deg, rgba(179, 179, 179, 0.85) 9.73%, rgba(220, 220, 220, 0.85) 50%, rgba(178, 178, 178, 0.85) 90.27%);
font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 140%;
leading-trim: both;
text-edge: cap;
text-align: center;

color: black;
}

.modal-top, .modal-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.modal-top {
    margin-top: 20px;
}

.modal-top p {
    padding: 6px;
}

.modal-center img {
    position: absolute;
   z-index: 1;
}

.modal-center p, .modal-center button {
   z-index: 2;
}
.modal-center {
    padding-top: 30px;
}

.modal-center > p:nth-child(3) {
    padding-top: 20px;
}

.modal-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'ST-SimpleSquare';
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #900F37;
}

.modal-button {
text-decoration-line: underline;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    font-family: 'ST-SimpleSquare';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 80%;
    padding-bottom: 4px;
    text-decoration-line: underline;
}

.modal-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -100%;
    width: 50%;
    height: 200%;
    background: linear-gradient(
        to right,
        transparent 0%,
        rgba(179, 179, 179, 0.85)  50%,
        transparent 100%
    );
    transform: rotate(25deg);
    transition: left 1s ease-out;
    pointer-events: none;
}

.modal-button:hover::before {
    left: 200%;
    transition: left 1s ease-in;
}


.modal-lines {
    display: none;
}

.modal-line {
    padding-left: 10px;
    padding-right: 10px;
}

.modal-bottom {
    padding-top: 40px;
    font-weight: 700;
}

.modal-present {
    margin-top: 4px;
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 80%;
padding-bottom: 4px;
-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;
cursor: pointer;
position: relative;
overflow: hidden;
border: none;
color: #37779D;
}

.modal-present::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -100%;
    width: 50%;
    height: 200%;
    background: linear-gradient(
        to right,
        transparent 0%,
        rgba(255, 255, 255, 0.5) 50%,
        transparent 100%
    );
    transform: rotate(25deg);
    transition: left 1s ease-out;
    pointer-events: none;
}

.modal-present:hover::before {
    left: 200%;
    transition: left 1s ease-in;
}

body.modal-open {
    overflow: hidden;
}

#cursor {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 26px;
}

.progress-container {
    width: 1154px;
    height: 100px;
    margin-top: 100px;
    position: relative;
}
.progress-bottom, .progress-top {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.progress-top  {
    margin-bottom: -80px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
background: linear-gradient(180deg, #B1B1B1 1.62%, #FDFDFD 33.96%, #A4A4A4 83.55%, #5F5F5F 109.42%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.progress-bottom {
margin-top: 10px;
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;

background: linear-gradient(180deg, #B1B1B1 12.11%, #E8E8E8 29.27%, #A4A4A4 55.43%, #5F5F5F 97.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.progress-bottom p b {
    font-size: 33.63px;
}
.progress-bar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid rgba(55, 119, 157, 1);
}
.progress-fill {
    position: absolute;
    bottom: 0;
    left: 0;
}
.progress-value {
    position: absolute;
    bottom: 14px;
    right: 480px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 110%;

background: linear-gradient(120.84deg, #08466B 7.12%, #37779D 19.42%, #71BDEB 35.07%, #37779D 56.31%, #08466B 71.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(-2px 4px 4px rgba(0, 0, 0, 1));
}


body > div.layout-container > div > div.middle > div.calculator-box > div.calculator-bg > img:nth-child(1) {
    max-width: 360px;
  
}

:root {
    --button-size: 40px;
    --close-width: calc(var(--button-size) / 40);
  }
  
.close {
    display: block;
    width: var(--button-size);
    height: var(--button-size);
    float: right;
    cursor: pointer;
    right: 0;
    margin-right: 5px;
    position: absolute;
    overflow: hidden;
  }
  
  .close > div {
    position: relative;
  }
  
  .close-button-block {
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .close-button-block:before,
  .close-button-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(55% - 4px);
    display: block;
    width: 4px;
    height: 25px;
    transform-origin: bottom center;
    background: rgb(0, 0, 0);
    transition: all ease-out 280ms;
  }
  
  .close-button-block:last-of-type {
    transform: rotate(180deg);
  }
  
  .close .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg);
  }
  
  .close .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg);
  }
  
  .close .out {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .close .out .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
  }
  
  .close .out .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
  }
  
  .close:hover .in .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
  }
  
  .close:hover .in .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
  }
  
  .close:hover .out .close-button-block:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg);
  }
  
  .close:hover .out .close-button-block:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg);
  }
  .slider-overlay {
    pointer-events: none;
    background: transparent;
}

.price-slider-block:hover .slider-overlay {
    pointer-events: default;
}